* {
    box-sizing: border-box;
}

$borderRadius: 0px;
$primaryColor: #61c6cf;
$primaryColor-light: #87d4db;
$secondaryColor: #bfd2e4;
$successColor: $primaryColor;
$alertColor: #e07182;
$textColor: #58789a;

.ToDo {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: $borderRadius;
    font-family: 'Roboto', sans-serif;
    color: $textColor;
}

.ToDo-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
}

.ToDo-subtitle {
    font-weight: 300;
}

.ToDo-controls {
    display: flex;
    justify-content: space-between;
}

.ToDo-alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: $borderRadius;
    background: $alertColor;
    color: #fff;

    &.is-hidden {
        display: none;
    }
}

.ToDo-button {
    margin-left: 10px;
    border: none;
    border-radius: $borderRadius;
    padding: 10px 20px;
    background: $primaryColor;
    color: #fff;
    &:hover {
        background-color: $primaryColor-light;
    }
}

.ToDo-checkbox {
    width: 50px;
    height: 50px;
}

.ToDo-textfield {
    overflow: hidden;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid $secondaryColor;
    background: transparent;
    color: $textColor;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
    }

    &:disabled {
        border-color: transparent;
    }
}

.ToDo-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    &:empty {
        align-items: center;
        flex-direction: row;
        height: 100px;
        border: 1px dashed $secondaryColor;
        border-radius: $borderRadius;
        &::before {
            content: "No tasks";
            display: block;
            width: 100%;
            text-align: center;
            color: $textColor;
        }
    }
}

.ToDo-task {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $secondaryColor;

    .ToDo-button {
        visibility: hidden;
    }

    &:hover, &.is-editing {
        background: #F6FAFE;
        &::before {
            display: block;
            content: '';
            position: absolute;
            left: -5px;
            top: 0;
            height: 56px;
            width: 5px;
            background: $primaryColor;
        }

        .ToDo-button {
            visibility: visible;
        }
    }
}
.ToDo-task--done {
    .ToDo-textfield {
        color: $textColor;
    }
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 17px;
    height: 17px;
    border: 1px solid $secondaryColor;
    border-radius: $borderRadius;
}

[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: -6px;
    left: 3px;
    font-size: 18px;
    line-height: 0.8;
    color: $successColor;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted $primaryColor;
}
